<h1>Please enter the name of the second player</h1>
<br />
<form action='/names' method='post'>
  <label for='player_1'>
    Your name:
    <input type='text' name='player_1_name'>
  </label><br />
  <br />
  <input type='submit' value='Play' name='commit'>
</form>
